  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action" id="aside">
              <h2>Free Download!</h2>
            <p class="text-faded">Just download the latest build, unzip and play !</p>
              <a href="https://github.com/JeanBombeur45/Synth-Patrol-release/releases/latest" class="btn btn-default btn-xl wow tada">Download Now!</a>
            <br><a href="https://github.com/JeanBombeur45/Synth-Patrol-release">Other downloads</a>
          </div>
      </div>
  </aside>
