<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get ready for nostalgia !</h2>
                <p class="text-faded">Synth Patrol is a retro-futuristic, synthwave-themed spaceship rail-shooter game, developped by three software engineering students during their first year of school. It's completely free and horrible to play, but hey, we're still in first year... This game is powered by Unity</p>
            </div>
        </div>
    </div>
</section>
