<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get ready for futuritic nostalgia !</h2>
				<p class="text-faded">In the year 20XX, the Nurbanians, an ultra-intelligent and violent alien race, invaded the Earth. Their King, Raxacoricofallapatorius want to make the entire world his !
				<br>Hopefully, the members of the Synth Patrol, the most powerful police unit in the world, are here to save the day !
				<br>Take your suit and your helmet and take part in the last fight for Humanity.
				</p>
                <p class="text-faded">Synth Patrol is a retro-futuristic, synthwave-themed spaceship rail-shooter game, developped by three software engineering students during their first year of school. It's completely free and horrible to play, but hey, we're still in first year... This game is powered by Unity</p>
            </div>
        </div>
    </div>
</section>
